@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(/public/css/backend.css);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* * * * * * * * * * * * * *
 *                         *
 *  Custom CSS             *
 *  Author: Blake Nahin    *
 *                         *
 * * * * * * * * * * * * * */

/* ----- Weather ----- */

#metar-search {
  width: 180px;
  text-transform: uppercase;
}

#search-col {
  border-right: 1px solid #ccc;
}

.atis-box .info-box-left {
  border-radius: 2px 0 0 2px;
  display: block;
  float: left;
  height: 114px;
  width: 90px;
  text-align: center;
  /* font-size: 45px; */
  /* line-height: 90px; */
  background: rgba(0, 0, 0, 0.2);
}

.atis-box .info-box-left.bg-aqua .atis-icao {
  border-bottom: 1px solid #74fffa4d;
}

.atis-box .info-box-left.bg-aqua .atis-name {
  border-top: 1px solid #74fffa4d;
}

.atis-box .info-box-left.bg-green .atis-icao {
  border-bottom: 1px solid #a1f35480;
}

.atis-box .info-box-left.bg-green .atis-name {
  border-top: 1px solid #a1f35480;
}

.atis-box .info-box-left.bg-red .atis-icao {
  border-bottom: 1px solid #bc1a1a80;
}

.atis-box .info-box-left.bg-red .atis-name {
  border-top: 1px solid #bc1a1a80;
}

.atis-box .info-box-left.bg-purple .atis-icao {
  border-bottom: 1px solid #5f3f8780;
}

.atis-box .info-box-left.bg-purple .atis-name {
  border-top: 1px solid #5f3f8780;
}

.atis-box .info-box-left.bg- * .atis-icao {
  font-size: 20px;
}

.atis-box .atis-letter {
  font-size: 45px;
}

.atis-box .info-box-content {
  padding: 0;
}

.atis-table .metar {
  background: #ddd;
  border-bottom: 2px solid #ccc;
}

.dec-body th {
  background: #ddd;
  border-bottom: 2px solid #ccc !important;
}

/** TMU Map */

#tmu-display {
  width: 100%;
  height: 500px;
}

#tmu-artcc-box {
  background: #e1e1e180;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#artcc-search .artcc-division {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

